/* Mobile first */
@media (max-width: 1100px) {
  .estate { grid-template-columns: 1fr; }
  .aside-left, .aside-right { display: none; }
  .only-mobile { display: inline-flex; }
  .only-desktop { display: none; }
}
@media (min-width: 1101px) {
  .estate { grid-template-columns: 280px 1fr 320px; }
  #mobile-accordions { display: none; }
}
